extends layout
block content
    .container-fluid
        .row
            .col-md-2
            .col-md-8
                .panel-info
                    .panel-heading
                        h4 scala mall
                    .panel-body
                        img(src="img/scalamall.jpg", width="700", height="400")#mall